@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Prata&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
a.active hr{
    display:block;
}
*{
    font-family:Outfit ;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
